#top{
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    

}
#top h1{
font-size: 140px;

}
#top p{
    font-size: 16px;
    }

nav{
    background-color: black;
    padding: 10px;
    
    color:white;
    text-align: center;

    position: sticky;
    top: 0;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 18px;
    font-family: 'Source Code Pro', monospace;
   
}
nav a:hover{
    background-color: white;
    color: #000;
}






section.infoBox {
    

    
    padding:6px;
    
    
    border-radius: 6px;
    background-color: lemonchiffon;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    font-size: 24px;
}
.infoBox img{
    width: 200px;
    
    float: left;
    margin: 10px;
    border-radius: 16px;
}
.infoBox h2{
    font-family: 'Source Code Pro', monospace;
    font-size: 40px;
    margin-bottom: 0;
}

.firstInfoLine{
    font-style:italic;
    display:block;
    font-size: 30px;
}
#kontaktFormular{
    /*background-color: lightblue;*/
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
#kontaktFormular label{
    display: inline-block;
    width: 200px;
    padding: 10px;
    text-align: right;
}
#kontaktFormular input, #kontaktFormular select, #kontaktFormular textarea, #kontaktFormular button {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid black;
}
#kontaktFormular select{
    width: 322px;
}
#kontaktFormular textarea{
    resize: none;
    border: 2px solid black;
}
#kontaktFormular button {
    border: 2px solid black;
    border-radius: 10px;
}