#top{
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    

}
#top h1{
font-size: 140px;
}
#top p{
    font-size: 16px;
    }

nav{
    background-color: black;
    padding: 10px;
    margin: -8px;
    color:white;
    text-align: center;

    position: sticky;
    top:0;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 18px;
    font-family: 'Source Code Pro', monospace;
   
}
nav a:hover{
    background-color: white;
    color: #000;
}

h2{
    font-family: 'Source Code Pro', monospace;
}


#greek{
    height: 100px;
    float: left;
    margin: 6px;
    border-radius: 16px;
}

.infoBox{
    margin: 10px;
    padding: 0 6px 0 6px;
    border-radius: 6px;
    background-color: burlywood;
}
.infoBox h2{
    font-size: 40px;
}
.infoBox p{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    font-size: 20px;
    margin: 16px;
    
}